.page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f8f9fa;
}

.wrap {
  padding: 48rpx;
}

.t {
  font-size: 30rpx;
  color: rgba(51, 51, 51, 0.55);
}
